@font-face {
    font-family: 'Indie Flower';
    src: url('./fonts/IndieFlower.ttf') format('truetype');    
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf') format('truetype');
}

body {
    background: url('./images/bg.jpg');
    font-size: 2em;
    font-family: 'Roboto';
}

