:root {
    --semitransparent: rgba(255, 255, 255, .75);
    --border-color: rgba(200, 200, 200);
}

@font-face {
    font-family: 'Indie Flower';
    src: url('./fonts/IndieFlower.ttf') format('truetype');    
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf') format('truetype');
}

body {
    background: url('./images/bg.jpg');
    font-size: 2em;
    font-family: 'Roboto';
    margin: 0;
}

#content {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
}

/* MAIN CONTAINER */
#container {
    background-color: var(--semitransparent);
    width: 80%;
    min-width: 600px;
    height: 80vh;
    min-height: 250px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr 150px;
    box-shadow: 0 0 50px black;
}

#header {
    grid-column: 1 / 3;
    background-color: rgba(165, 153, 115, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-shadow: 0 0 5px black;    
}

#sidebar {
    border-bottom: 1px solid var(--border-color);
}

#main-panel {
    border-left: 1px solid var(--border-color);
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}